@{
    ViewData["Title"] = "Home Page";
    Layout = "~/Pages/Shared/AdminLTE/_Layout.cshtml";
}

@model IEnumerable<JourneyControl.Infrastructure.Persistence.Entities.TripPlanning.Location>

<table class="table table-bordered">
    <thead>
    <tr>
        <td>Code</td>
        <td>Name</td>
        <td>Text</td>
    </tr>
    </thead>
    <tbody>
    @{
        foreach (var location in Model)
        {
            <tr>
                <td>@location.LocationCode</td>
                <td>@location.ShipToCode</td>
                <td>@location.ShipToName</td>
            </tr>
        }
    }
    
    </tbody>
</table>
